<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Page Not Found :(</title>
</head>

<body>
<div class="container">
  <div id="header">
    <h1>404 ERROR</h1>
    <h2>KÔNG TỒN TẠI </h2>

    <h3 class="quote">"Chia mỗi khó khăn thành nhiều phần càng tốt và cần thiết để giải quyết nó. "</h3>
    <p class="author"><em>R. Descartes</em></p>
  </div>

  <h4><i class="sign tip">Tip: </i><strong>Hãy thử như sau:</strong></h4>
  <ul>
    <li>Kiểm tra chính tả của bạn</li>
    <li>Đi đến trang web chính và tìm kiếm lại</li>
    <li><a href="javascript:history.back()">Quay trở lại trang trước</a></li>
  </ul>

  <div id="footer">
    <div class="contact"><i class="sign call">Tip: </i>
      <p class="marquee">Nếu bạn cho rằng đây là lỗi máy chủ, vui lòng liên hệ với quản trị viên hệ thống.</p></div>

    <p class="copyright">&copy; 2022 tranngocluat.03@gmail.com</p>
  </div>
</div>
</body>
</html>

